*
{
    padding: 0;
    margin: 0;
}
body {
    background-image: url('../programming/photos/image0.jpeg');
    background-size: cover;
    background-position: top;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}
* 
{
    text-align: center;
}
* ul
{
    display: inline-flex;
    list-style: none;
    color: white;
    color: #fff;
}
* ul li
{
    width: 140px;
    margin: 15px;
    padding: 12.5px;
}
* ul li a
{
    text-decoration: none;
    color: #fff;
}
.active, * ul li:hover
{
    background: #2bab0d;
    border-radius: 3px;
}
